{% extends 'layout.html' %}

{% block title %}
Edit Page
{% endblock %}

{% block content %}
<h2>Hello Django Developer</h2>

<div class="container py-5">

  <form action="{% url 'update_note' id=note.id %}" method="post" class="container mx-auto card p-4">
    {% csrf_token %}

    {% include 'components/show_message.html' %}

    <div class="mb-3">
      <label for="title">Note Title</label>
      <input value="{{ note.title }}" name="title" type="text" id="text" class="form-control" placeholder="Enter Note Title">
    </div>

    <div class="mb-3">
      <label for="title">Description</label>
      <textarea rows="5" name="description" id="text" class="form-control" placeholder="Enter Note Title">
      {{ note.description }}  
      </textarea>
    </div>

    <div class="mb-3">
      <input name="published" type="checkbox" 
      {% if note.isPublish %}
      checked
      {% else %}
      {% endif %}
      id="published"> 
      <label for="published">Status</label>
    </div>

    <div class="mb-3">
      <button style="width: 100;" class="btn btn-primary">
        Update Note
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}