{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
  <h2>Hello Django Developer</h2>

  <div class="container py-5">
  
    <form action="{% url 'save_data' %}" method="post" class="container mx-auto card p-4">
      {% csrf_token %}

       {% include 'components/show_message.html' %}

      <div class="mb-3">
        <label for="title">Note Title</label>
        <input name="title" type="text" id="text" class="form-control" placeholder="Enter Note Title">
      </div>

      <div class="mb-3">
        <label for="title">Description</label>
        <textarea rows="5" name="description" id="text" class="form-control" placeholder="Enter Note Title">
        </textarea>
        </div>

      <div class="mb-3">
        <button style="width: 100;" class="btn btn-primary">
          Add Note
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>


  <div class="container">
    <h1>Note Lists {{ notes|length }}</h1>
    <div class="row">
      {% if notes %}
        {% for note in notes %}
        <div class="p-2 col-sm-2 col-md-3 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h4>{{ note.title }}</h4>
              <p>{{ note.description }}</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-info">Edit</button>
              <a href="{% url 'delete_note' id=note.id %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="card mx-auto py-4">
          <h3 class="text-center">No notes Found</h3>
        </div>
      {% endif %}
    </div>
    

  </div>

{% endblock %}