{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
  <h2>Hello Django Developer</h2>

  <div class="container py-5">
    <form action="" class="container mx-auto card p-4">
      <div class="mb-3">
        <label for="title">Note Title</label>
        <input type="text" id="text" class="form-control" placeholder="Enter Note Title">
      </div>

      <div class="mb-3">
        <label for="title">Note Title</label>
        <input type="text" id="text" class="form-control" placeholder="Enter Note Title">
      </div>

      <div class="mb-3">
        <button style="width: 100;" class="btn btn-primary">
          Add Note
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>

{% endblock %}